name: Sync labels
on:
  push:
    branches:
      - master
    paths:
      - .github/labels.yml
      - .github/workflows/sync-labels.yml
  workflow_dispatch:

permissions:
  issues: write

jobs:
  sync-labels:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: micnncim/action-label-syncer@v1
        with:
          manifest: .github/labels.yml
          repository: |
            codex-storage/cs-codex-dist-tests
            codex-storage/nim-codex
            codex-storage/codex-contracts-eth
            codex-storage/nim-poseidon2
            codex-storage/codex-frontend
            codex-storage/codex-research
            codex-storage/nim-chronos
            codex-storage/zk-benchmarks
            codex-storage/multicodec
            codex-storage/constantine
            codex-storage/codex-storage-proofs-circuits
            codex-storage/codex-pm
            codex-storage/codex.storage
            codex-storage/nim-ethers
            codex-storage/logtools
            codex-storage/nim-libp2p
            codex-storage/nim-datastore
            codex-storage/das-research
            codex-storage/nim-codex-dht
            codex-storage/das-dht-emulator
            codex-storage/swarmsim
            codex-storage/questionable 
            codex-storage/nim-contract-abi
            codex-storage/asynctest
            codex-storage/dist-tests-prometheus
            codex-storage/dist-tests-geth 
            codex-storage/codex-storage-proofs
            codex-storage/network-testing-codex
            codex-storage/rs-poseidon
            codex-storage/nim-leopard
            codex-storage/nim-nitro
            codex-storage/zk-research-artifacts
            codex-storage/debugging-scratchpad
            codex-storage/infra-codex
            codex-storage/infra-docs
            codex-storage/codex-incentives
          token: ${{ secrets.SYNC_LABELS2 }}
          prune: false
